.friend {
    background-color: orange;
    display: flex;
    height: 15%;
}


.friend img {
    height: 100%;
}

.friend-wrapper {
    display: flex;
}



.friends {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.friends-main {
    height: 88%;
}

.friendsList {
    height: 100%;
}

.friend-details {
    height: fit-content
}